@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-dark-900: oklch(0.288 0.048 287.1);
    --color-dark-800: oklch(0.36  0.052 287.1);
    --color-dark-700: oklch(0.43  0.058 287.1);
    --color-dark-600: oklch(0.50  0.065 287.1);
    --color-dark-500: oklch(0.58  0.072 287.1);
    --color-dark-400: oklch(0.66  0.078 287.1);
    --color-dark-300: oklch(0.74  0.075 287.1);
    --color-dark-200: oklch(0.81  0.07  287.1);
    --color-dark-100: oklch(0.88  0.06  287.1);
    --color-dark-50:  oklch(0.94  0.045 287.1);
    --color-light-50:  oklch(0.9703 0.032 239.82);
    --color-light-100: oklch(0.8912 0.063 244.86);
    --color-light-200: oklch(0.8124 0.100 250.06);
    --color-light-300: oklch(0.7147 0.134 255.38);
    --color-light-400: oklch(0.6230 0.146 262.31);
    --color-light-500: oklch(0.5344 0.148 267.29);
    --color-light-600: oklch(0.4314 0.125 268.40);
    --color-light-700: oklch(0.3409 0.098 269.22);
    --color-light-800: oklch(0.2519 0.070 270.39);
    --color-light-900: oklch(0.1814 0.048 270.93);
}