<div class="flex flex-nowrap py-4 px-6 mt-2 rounded-full bg-white dark:bg-dark-700 text-black dark:text-gray-300 shadow-xl items-center">
    <div class="w-32 ml-4">
        <%= link_to "Home", home_path %>
    </div>
    <div class="w-16 me-2">
        <%= link_to "Name", resume_path %>
    </div>
    <div class="w-16">
        <%= link_to "Projects", projects_path %>
    </div>
    <div class="flex-grow"></div>
    <div class="w-48 text-right me-4">
        <button id="theme_toggle" class="bg-transparent hover:bg-light-600 dark:hover:bg-dark-500 px-4 py-2 font-semibold border border-1 border-light-500 dark:border-dark-400 text-sm rounded-md">
            Dark Mode
        </button>
    </div>
    <div class="w-16">
        <%= link_to "Contact", contact_path %>
    </div>
</div>