<div class="flex flex-nowrap p-6 mt-2 border border-2 rounded-full">
    <div class="w-32 ml-4">
        <%= link_to "Home", home_path %>
    </div>
    <div class="w-32 text-center">
        <%= link_to "Name", resume_path %>
    </div>
    <div class="w-16">
        <%= link_to "Projects", projects_path %>
    </div>
    <div class="flex-grow"></div>
    <div class="w-16">
        <%= link_to "Contact", contact_path %>
    </div>
</div>