<div class="flex flex-col mx-auto h-1/3 max-w-5xl overflow-y-auto">
    <!-- 'Picture' Panel -->
    <div class="border border-dark-500 bg-dark-700 rounded-xl shadow-xl w-full h-128 relative">
        <!-- Placeholder Image -->
        <div class="bg-light-200 dark:bg-dark-500 w-full h-full rounded-xl">
        </div>
        <div class="flex flex-col bg-light-400 dark:bg-dark-400 justify-evenly p-2 w-64 h-38 absolute bottom-15 left-15 shadow-xl rounded-xl border dark:border-dark-500">
            <h1 class="text-2xl text-dark-100 font-bold">Your Name</h1>
            <span class="text-xl text-dark-200">'Title'</span>
            <span class="text-lg text-dark-300">Maybe other text?</span>
        </div>
    </div>
    <div class="flex w-full h-128 mt-2">
        <!-- Professional Experience -->
        <div class="flex-1 pr-2 w-full h-full">
            <div class="bg-light-200 dark:bg-dark-500 rounded-xl h-full text-center">
                <h2 class="text-2xl font-bold text-light-200">Professional Experience</h2>
                <div class="flex flex-col p-2 justify-evenly h-[92%] overflow-y-auto">
                    <div class="flex flex-col justify-evenly border border-1 h-fit text-left p-2 rounded-md mb-4">
                        <span class="text-2xl font-bold">Job Title</span>
                        <span class="text-sm">Time</span>
                        <span class="text-lg">
                            This is where I would put the job description.
                            I suggest it either being long or sort.
                        </span>
                    </div>
                    <div class="flex flex-col justify-evenly border border-1 h-fit text-left p-2 rounded-md mb-4">
                        <span class="text-2xl font-bold">Job Title</span>
                        <span class="text-sm">Time</span>
                        <span class="text-lg">
                            This is where I would put the job description.
                            I suggest it either being long or sort.
                        </span>
                    </div>
                    <div class="flex flex-col justify-evenly border border-1 h-fit text-left p-2 rounded-md mb-4">
                        <span class="text-2xl font-bold">Job Title</span>
                        <span class="text-sm">Time</span>
                        <span class="text-lg">
                            This is where I would put the job description.
                            I suggest it either being long or sort.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Education Panel-->
        <div class="flex-1 w-full h-full">
            <div class="bg-light-200 dark:bg-dark-500 rounded-xl h-full text-center">
                <h2 class="text-2xl font-bold text-light-200">Education</h2>
                <div class="flex flex-col p-2 h-[92%] overflow-y-auto">
                    <div class="flex flex-col justify-evenly border border-1 h-fit text-left p-2 rounded-md mb-4">
                        <span class="text-2xl font-bold">School Name - Degree</span>
                        <span class="text-sm">Graduation Year</span>
                        <span class="text-lg">
                            Degree Explaination
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Short Description -->
    <div class="flex w-full h-48 mt-2">
        <div class="flex-1">
            <div class="bg-light-200 dark:bg-dark-500 w-full h-full rounded-xl p-2">
                <div class="flex flex-col justify-evenly text-center">
                    <h2 class="text-2xl font-bold text-light-200">Skills/Qualifications</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Current Projects. -->
    <div class="flex w-full h-128 mt-2">
        <div class="flex-1">
            <div class="bg-light-200 dark:bg-dark-500 w-full h-full rounded-xl p-2 text-center">
                <h2 class="text-2xl font-bold text-light-200">Current Projects</h2>
                <div class="flex p-2 flex-wrap">
                    <div class="flex flex-col justify-evenly border border-1 h-fit w-64 text-left p-2 rounded-md mb-4">
                        <span class="text-2xl font-bold">Project Name</span>
                        <span class="text-sm">Project Type</span>
                        <span class="text-lg">
                            Project description
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>